:root {
    --main-color: #2E2F42;
    --bright-color:#4D5AE5;
    --white-color: #ffffff;
    --active-color: #404BBF;
    --dark-color: #434455;
    --team-color: #F4F4FD;
    --btn-color: #E7E9FC;
    --light-color: #8E8F99;
    --green-color: #31D0AA;
    --dairy-color: #FCFCFC;

} 

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Common styles */
body {
    font-family: Roboto, sans-serif;
    color: var(--dark-color);
    background-color: var(--white-color);
}
/* Reset */
h1, h2, h3, h4, h5, h6, p {
text-decoration: none;
margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*special classes*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
    color:currentColor;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
    cursor: pointer;
}

/* Header styles */

.container {
 width: 1158px;
 margin: 0 auto;
 padding-left: 15px;
 padding-right: 15px;

 }

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    }

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    
  }

.header-logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bright-color)
    }

.web-logo {
    color: var(--main-color);
}

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-list:last-child {
    margin-right: 0;
}
.header-item {

}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--main-color);
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
    color: var(--active-color);
}

.active-first {
    position: relative;
    color: var(--active-color);
}

.active-first::after {
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: var(--active-color);
}

.active-second {
    position: relative;
    color: var(--active-color);
}

.active-second::after {
    content: "";
    display: block;
    width: 66px;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: var(--active-color);
}

.contact {
    font-style: normal;
 }

.contact-list {
    display: flex;
    align-items: center;
    gap: 40px; 
}

.contact-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--active-color);
}

/* Main block */
.main {}

/* Order styles */
.order-section {
    max-width: 1440px;
    margin: 0 auto;
    background: var(--main-color);
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title-section {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.order-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--bright-color);
    min-width: 169px;
    min-height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    align-items: flex-start;
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background: var(--active-color);
}

/* Features styles */
.features-section {
   padding: 120px 0;
}

.features-list {
   display: flex;
   justify-content: space-between;
   gap: 24px;
}

.features-item {
    width: calc((100% - 3 * 24px) / 4);
}

.features-list-block {
    margin-bottom: 8px;
    border-radius: 4px;
    background: var(--team-color);
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    }

/* Proposal styles */
.proposal-section {
     padding-bottom: 120px;
}

.proposal-block {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
    margin-bottom: 72px;
}

.proposal-list {
    display: flex;
    gap: 24px;
}

.proposal-item {}

.proposal-img {}

/* Team styles */
.team-section {
    background: var(--team-color);
    padding: 120px 0;
}

.team-block {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 32px;
}

.team-item {
    background-color: var(--white-color);
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-img {}

.img-title-block {
    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 8px;
}

.team-text {
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;
}

.team-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
} 

.team-media-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bright-color);
}

.team-media-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 50%;
    background-color: var(--bright-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-media-link:hover,
.team-media-link:focus {
    background-color: var(--active-color);
}

.team-media-icon {
    width: 16px;
    height: 16px;
    color: var(--team-color);
    fill: currentColor;
}

/* Customers styles */
.customers-section {
    padding: 120px 0;
}

.customers-block {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: var(--main-color);
}

.customers-list {
    display: flex;
    gap: 24px;
}

.customers-item {
    width: calc((100% - 5 * 24px) / 6);
    height: 88px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--light-color);
    color: var(--light-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.customers-item-block:hover,
.customers-item-block:focus {
    color: var(--active-color);
    border-color: 1px solid var(--active-color);
}

.customers-item-icon:hover,
.customers-item-icon:focus {
    color: var(--active-color);
    border-color: 1px solid var(--active-color);
}

.customers-item-icon {
    fill: currentColor;
}

/* Footer styles */
.footer {
    background: var(--main-color);
    padding: 100px 0;
    }

.footer-container {
    display: flex;
    align-items: baseline;
}

.left-footer {
    margin-right: 120px;
    display: block;
} 

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bright-color);
    display: inline-block;
    margin-bottom: 16px;
        }

 .studio-logo {
    color: var(--team-color);
 }   

.footer-text {
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--team-color);
    }

.footer-social {
    color: var(--white, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.footer-media-list {
    display: flex;
    gap: 16px;
    flex-shrink: 0;
    align-self: flex-end;
}

.footer-media-list .footer-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 50%;
    background-color: var(--bright-color);
}

.footer-media-item {
    width: 40px;
    height: 40px;
}

.footer-media-link {
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-media-list .footer-media-link:hover,
.footer-media-list .footer-media-link:focus {
    background-color: var(--green-color);
}



.footer-media-icon {
    width: 24px;
    height: 24px;
    color: var(--team-color);
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe {
    margin-left: 80px;
    /* display: block; */
}

.footer-subscribe-text {
    color: var(--white-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.subscribe-email {
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--white-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: var(--main-color);
}

/* Modal styles */
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    top: 50%;
    left: 50%;
    width: 408px;
    padding: 72px 24px 24px;
    min-height: 584px;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    background: var(--dairy-color);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: var(--btn-color);
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--active-color);
    border: none;
    fill: var(--white-color);
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover, 
.close-icon:focus {
    fill: var(--white-color);
}

.order-form {}

.order-title {
    display: block;
    width: 360px;
    color: var(--main-color);
    text-align: center;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px; 
}

.form-label {
    position: relative;
    display: block;
    margin-bottom: 8px;
}

/* Small Text */
.form-label-title {
    display: block;
    padding-bottom: 4px;
    color: var(--light-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
     
}

.form-input {
    display: block;
    width: 360px;
    height: 40px;
    outline: transparent;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4)); 
    padding: 11px 38px;
    margin-bottom: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: var(--bright-color);
}

.form-label-icon {
    position: absolute;
    bottom: 8px;
    left: 16px;
    stroke: var(--main-color);
    fill: currentColor;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-label-icon {
    stroke: var(--bright-color);
    fill: var(--bright-color);
}

.input-comment {
    display: block;
    width: 360px;
    outline: transparent;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
    padding-top: 8px;
    padding-left: 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-comment:focus {
    border: 1px solid var(--bright-color);
}

textarea {
    resize: none;
}

.input-comment::placeholder {
    color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
}  

/* agreement block */
.form-agreement {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

.input-agreement {}

.form-check-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-agreement:checked + .form-check-icon {
    background-color: var(--bright-color);
    border: var(--bright-color);
}

.check-icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-agreement:checked+.form-check-icon > .check-icon {
    opacity: 1;
    fill: var(--team-color);
}


.text-agreement {
    color: var(--light-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
}

.agreement-link {
    text-decoration-line: underline;
    color: var(--bright-color);
}

.send-button {
    display: block;
    
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    min-width: 169px;
    min-height: 56px;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    color: var(--white-color);
    background-color: var(--bright-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Portfolio styles */
/* bottoms */
.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-list {
display: flex;
margin-bottom: 72px;
gap: 24px;
justify-content: center;
}

.portfolio-item {

}

.btn-portfolio {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--bright-color);
    background: var(--team-color);
    padding: 12px 24px;
    border: 1px solid var(--btn-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
       }

.btn-portfolio:hover,
.btn-portfolio:focus {
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background: var(--active-color);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

/* cards */

.text-cover {
    color: var(--team-color);
    background-color: var(--bright-color);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-overlay {
    position: relative;
    overflow: hidden;
}

.card-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover,
.card-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-link:hover .text-cover,
.card-link:focus .text-cover {
    transform: translateY(0%);
}

.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 8px;
}

.card-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.portfolio-card {
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 48px 24px;

}

.portfolio-card:last-child {
    margin-right: 0;
}

.img-card-block {
    padding: 32px 16px;
    border: 1px solid var(--btn-color);
    border-top: none;
}

.item-card {
    width: calc((100% - 2 * 24px) / 3);
}

.img-item {}






