/* Common styles */
body {
    font-family: Roboto, sans-serif;
    color: #2E2F42;
    background-color: #ffffff;
}

/* Header styles */
.header {
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    
}

.header-nav {
   
}

.header-logo {
font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.web-logo {
    color: #4D5AE5;
}

.header-list {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.header-item {
    
}

.header-link {
color: #2E2F42;
}

.header-link:hover,
.header-link:focus {
    color: #404BBF;
}

.contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
 
}

.contact-list {

}

.contact-item {
    
}
.contact-link {
    color: #434455;
}

.contact-link:hover,
.contact-link:focus {
color: #404BBF;
}

/* Main block */
.main {}

/* Order styles */
.order-section {
    background: #2E2F42;
}

.title-section {
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}

.buttom {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.buttom:hover,
.buttom:focus {
    background: #404BBF;
}

/* Features styles */
.features-section {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }

.features-list {
    list-style-type: none;
}

.features-item {}

.features-title {}

.features-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }

/* Proposal styles */
.proposal-section {}

.proposal-block {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.proposal-list {}

.proposal-item {}

.proposal-img {}

/* Team styles */
.team-section {
    background: #F4F4FD;
}

.team-block {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-list {}

.team-item {}

.team-img {}

.team-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer styles */
.footer {
    background: #2E2F42;
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}



a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

