:root {
    --color-dark-blue: #11131f;
    --color-light-green: #93abae;
    --color-linear-green: linear-gradient(to bottom, #bec7c2 0%, #a1b5ba 100%);
    --color-white: #f6f5ef;
    --color-blue-2: #1f212d;
} 

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Common styles */
body {
    font-family: DM Sans, sans-serif;
    color: var(--color-blue-2);
    background: var(--color-dark-blue);
}
/* Reset */
h1, h2, h3, h4, h5, h6, p {
text-decoration: none;
margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* special classes */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
    color:currentColor;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
    cursor: pointer;
}

/* Base styles for small devices */
.container {
    min-width: 320px;
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

    outline: 2px solid red;
    outline-offset: -2px;
 }

 /* Tablet screen */
 @media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
       
    }
 }

 /* Desktop screen */
 @media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
 }

 /* mobile */
.footer {
    padding-bottom: 14px;
}

/* tablet */
@media only screen and (min-width: 768px) {
    .footer {
        padding-bottom: 16px;
  }
}

.footer-container {}

.container {}

/* mobile */
.footer-main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 40px;
}

/* tablet */
@media only screen and (min-width: 768px) {
    .footer-main {
        margin-top: 64px;
    }
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-logo {}

.link {}

.footer-logo-icon {}

/* mobile */
.footer-logo-text {
    color: var(--color-white);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

/* tablet and desktop */
@media only screen and (min-width: 768px) {
    .footer-logo-text {
        font-size: 18px;
        line-height: 1.18;
        letter-spacing: 0.54px;
    }
}

.footer-logo-text {}

.footer-menu {}

.footer-menu-list {}

.list {}

.footer-menu-item {}

.footer-menu-link {}

.footer-media {}

.footer-media-social {}

.footer-media-list {}

.footer-media-item {}

.footer-media-link {}

.footer-media-facebook {}

.media-icon {}

.footer-media-instagram {}

.footer-media-youtube {}

.footer-copyright {}

.footer-copyright-text {}