:root {
    --main-color: #2E2F42;
    --bright-color:#4D5AE5;
    --white-color: #ffffff;
    --active-color: #404BBF;
    --dark-color: #434455;
    --team-color: #F4F4FD;
    --btn-color: #E7E9FC;

} 
/* Common styles */
body {
    font-family: Roboto, sans-serif;
    color: var(--dark-color);
    background-color: var(--white-color);
}
/* Reset */
.link {
    text-decoration: none;
    color:currentColor;
}

.list {
    list-style-type: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

/* Header styles */
.header {
    background: var(--white-color);
}

.header-nav {

  }

.header-logo {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bright-color)
    }

.web-logo {
    color: var(--main-color);
}

.header-list {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-item {
    
}

.header-link {
color:var(--main-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--active-color);
}

.contact {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
 }

.contact-list {

}

.contact-item {
    
}
.contact-link {
    color: var(--dark-color);
}

.contact-link:hover,
.contact-link:focus {
color: var(--active-color);
}

/* Main block */
.main {}

/* Order styles */
.order-section {
    background: var(--main-color);
}

.title-section {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--white-color);
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background: var(--bright-color);
    }

.button:hover,
.button:focus {
    background: var(--active-color);
}

/* Features styles */
.features-section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
    }

.features-list {
   
}

.features-item {}

.features-title {}

.features-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    }

/* Proposal styles */
.proposal-section {}

.proposal-block {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    
}

.proposal-list {}

.proposal-item {}

.proposal-img {}

/* Team styles */
.team-section {
    background: var(--team-color);
}

.team-block {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
    
}

.team-list {}

.team-item {
    background-color: var(--white-color);
}

.team-img {}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    
}

.team-text {
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

/* Footer styles */
.footer {
    background: var(--main-color);
}

.footer-logo {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bright-color);
    }

 .studio-logo {
    color: var(--team-color);
 }   

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--team-color);
}

/* Portfolio styles */
.portfolio-section {

}

.portfolio-list {

}

.portfolio-item {

}

.btn-portfolio {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--bright-color);
    background: var(--team-color);
    }

.btn-portfolio:hover,
.btn-portfolio:focus {
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: val(--white-color);
    background: var(--active-color);
    }

.portfolio-card {

}

.item-card {
    background: val(--white-color);
    border: 1px solid var(--btn-color);
}

.img-item {

}

.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
}

.card-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

a {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

